#book-container{
	position:absolute;
	left:50%;
	top:180px;
	width:47%;
	height:auto;
	margin-left:-20%;
	min-width:400px;
}

#book-holder{
	position:absolute;
	width:160px;
	height:230px;
	background:#734f2f;
}

#view-samples{
	position:absolute;
	cursor:pointer;
	font-family: 'Roboto Slab', sans-serif;
	color:#a6977c;
	background-color:#4b4e3b;
	border:none;
	text-align: center;
	bottom:10px;
	left:30px;
}

#view-samples:hover{
	background-color:rgb(91, 94, 78);
}



#book-title{
	position:absolute;
	font-family: 'Roboto Slab', sans-serif;
	color:#a6977c;
	left:190px;
	font-size:23px;
}

#book-info-main{
	position:absolute;
	font-family: 'Roboto Slab', sans-serif;
	color:#a6977c;
	left:190px;
	top:50px;
	height:200px;
}

#book-info-extra{
	position:absolute;
	font-family: 'Roboto Slab', sans-serif;
	color:#a6977c;
	left:0px;
	top:320px;
}

#add-to-cart{
	position:absolute;
	cursor:pointer;
	font-family: 'Roboto Slab', sans-serif;
	color:#a6977c;
	background-color:#4b4e3b;
	border:none;
	font-size:20px;
	text-align: center;
	width:150px;
	height:40px;
	top:250px;
	left:5px;
}

#book-cost{
	position:absolute;
	font-family: 'Roboto Slab', sans-serif;
	color:#CCCCCC;
	border:none;
	font-size:20px;
	text-align: center;
	width:150px;
	height:40px;
	top:255px;
	left:200px;
}

#add-to-cart:hover{
	background-color:rgb(91, 94, 78);
}


/* * * * * * * * * * * * * * CART CONTAINER* * * * * * * * * * */
#cart{
	position:absolute;
	right:50px;
	top:180px;
	width:190px;
	height:180px;
	background-color:#734f2f;
	border-radius: 5px;
	opacity:1;
}

#cart-title{
	position:absolute;
	font-family: 'Roboto Slab', sans-serif;
	color:#a6977c;
	margin-left:10px;
}

#cart #check-out{
	position:absolute;
	cursor:pointer;
	font-family: 'Roboto Slab', sans-serif;
	color:#a6977c;
	background-color:#4b4e3b;
	border:none;
	text-align: center;
	bottom:10px;
	left:50px;
}

#cart #check-out:hover{
	background-color:rgb(91, 94, 78);
}

#checkout-total{
	position:absolute;
	font-family: 'Roboto Slab', sans-serif;
	color:#260B01;
	
	bottom:40px;
	left:19px;
	
	font-size:17px;
}

/* * * * * * * * * * * * * * BOOK LIST* * * * * * * * * * * * * * * */

#book-cart-list{
	position:absolute;
	list-style-type: none;
	left:-10px;
	top:7px;
	font-family: 'Roboto Slab', sans-serif;
	color:#260B01;
}


#book-list-container{
	opacity:.8;
	position:absolute;
	border-radius:5px;
	background-color:#734f2f;
	width:190px;
	height:400px;
	top:180px;
	left:30px;
	overflow-y:scroll;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}


#book-list{
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	position:absolute;
	list-style-type: none;
	margin-left:5px;
	top:0px;
}

#book-list li{
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	width:100px;
	height:150px;
	background:white;
	opacity:.4;
	cursor:pointer;
}

#book-list li:hover{
	opacity:1;
}

#book-list li:not(:first-child){
	margin-top:20px;
}

.book-button{
	position:absolute;
	width:20px;
	height:20px;
	background:white;
	z-index:1;
	cursor:pointer;
}

#up{
	left: 114px;
	top: 147px;
	background:url("../images/upbtn.png");
	background-size:100% 100%;
}

#down{
	left: 114px;
	top: 593px;
	background:url("../images/downbtn.png");
	background-size:100% 100%;
}

#page-sampler-container{
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	position:absolute;
	width:100%;
	height:100%;
	z-index: 11;
}

#page-sampler-container.active{
		opacity:1;

}



#page-sampler-container.inactive{
	pointer-events:none;	
		opacity:0;

}


#page-sampler{
	position:absolute;
	width:450px;
	height:600px;
	background:#DDC5A7;
	top:10%;
	left:50%;
	margin-left:-225px;
}

#xbtn{
	position:relative;
	left:450px;
	top:-50px;
	opacity:.5;
	cursor:pointer;
}

#xbtn:hover{
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	opacity:1;
}

#shadowbox{
	position:absolute;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	width:100%;
	height:100%;
	background:#000000;
	z-index:10;
	opacity:0;
}

#shadowbox.sb_inactive{
	opacity:0;
	pointer-events:none;
}

#order-form{
	display:none;
	position:fixed;
	left:50%;
	width:400px;
	margin-left:-250px;
	top:100px;
	background:#260B01;
	border-radius:5px;
	z-index:400;
	height:490px;
}



#order-form.active{
	display:block;
}

#order-title{
	position:absolute;
	font-family: 'Roboto Slab', sans-serif;
	color:#DDC5A7;
	font-size: 40px;
	text-align:center;
	z-index:900;
	width:100%;
}

#shadowbox.sb_active{
	opacity:.7;
}

form label{
	float:left;
	font-size:12px
}

form{
	margin: 0px;
	margin-left: 24px;
	margin-top:34px;
	float: left;
	width: 400px;
	height: 400px;
	padding: 0px;
}

form input{
	float:left;
font-family: 'Roboto Slab', sans-serif;
	color:#260B01;	border: 1px solid #ccc;
	font-size: 20px;
	width: 347px;
	display: block;
	outline: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

form label{
	font-family: 'Roboto Slab', sans-serif;
	color:#D9B384;
}

form ul{
	list-style-type: none;
}

form ul li{
	display:inline-block;
	font-family: 'Roboto Slab', sans-serif;
	color:#D9B384;
	float:left;
}

.r_label{
	position:absolute;
	left:92px;	
}


form textarea{
	resize: none;
	float:left;
font-family: 'Roboto Slab', sans-serif;
	color:#260B01;	border: 1px solid #ccc;
	font-size: 20px;
	width: 347px;
	display: block;
	margin-bottom: 15px;
	margin-top: 5px;
	outline: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}
form #subf{
	font-family: 'Roboto Slab', sans-serif;
	color:#D9B384;
	float: left;
	left: 0;
	margin-left: -350px;
	margin-top: 16px;
}
form #subl{
	font-family: 'Roboto Slab', sans-serif;
	color:#D9B384;
	float: left;
	left: 0;
	margin-left: -182px;
	margin-top: 16px;
}

form #submitbtn{
	position:absolute;
	cursor:pointer;
	font-family: 'Roboto Slab', sans-serif;
	color:#a6977c;
	background-color:#4b4e3b;
	border:none;
	text-align: center;
	bottom:10px;
	left:26px;
}

#sec_code_txt{
font-size: 12px;
font-family: 'Roboto Slab', sans-serif;
color: #D9B384;
position: absolute;
left: 310px;
top: 345px;
}

#credit-date{
	font-family: 'Roboto Slab', sans-serif;
	color:#D9B384;
	position: absolute;
bottom: 54px;
left: 89px;
}

#check-out-option{
	display:none;
	position:fixed;
	left:50%;
	width:400px;
	margin-left:-200px;
	top:100px;
	background:#DDC5A7;
	border-radius:5px;
	z-index:400;
	height:200px;
}

#check-out-option button{
	position:absolute;
	cursor:pointer;
	font-family: 'Roboto Slab', sans-serif;
	color:#a6977c;
	background-color:#4b4e3b;
	border:none;
	font-size:16px;
	border-radius:5px;
	text-align: center;
	width:90px;
	height:50px;
	
}

#check-out-option.active{
	display:block;
}

#check-out-option button:hover{
		background-color:rgb(91, 94, 78);

}

#phone{
	left:50px;
	bottom:50px;
}

#email{
	right:50px;
	bottom:50px;
}

#option-title{
	font-family: 'Roboto Slab', sans-serif;
	color:#734F2F;
	position:absolute;
	font-size:30px;
	width:100%;
	text-align: center;
}

#phone-info{
	display:none;
	position:fixed;
	left:50%;
	width:400px;
	margin-left:-200px;
	top:100px;
	background:#4B4E3B;
	border-radius:5px;
	z-index:400;
	height:400px;
	z-index:11;
}
#phone-info.active{
	display:block;
}

#phone-title{
	font-family: 'Roboto Slab', sans-serif;
	color:#A6977C;
	position:absolute;
	font-size:30px;
	width:100%;
	text-align: center;
	font-weight:700;
}

#order-list{
	font-family: 'Roboto Slab', sans-serif;
	color:#A6977C;
	position:absolute;
	top:80px;
	left:50px;
	font-size:20px;
	width:80%;
}

code{
	color:#CCCCCC;
}
